In [12]:
import duckdb
import pandas as pd

In [13]:
sql_query = '''
show tables
'''

with duckdb.connect('data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

                        name
0  bronze_parking_violations
1                first_model
2         parking_violations
3    parking_violations_2023
4                  ref_model

In [14]:
#sql_query_import_1 = '''
#CREATE OR REPLACE TABLE parking_violations AS
#SELECT * 
#FROM read_csv_auto('data/dof_parking_violation_codes.csv', 
#normalize_names=True
#)
#'''

#sql_query_import_2 = '''
#CREATE OR REPLACE TABLE parking_violations_2023 AS
#SELECT * 
#FROM read_csv_auto('data/parking_violations_issued_fiscal_year_2023_sample.csv', 
#normalize_names=True
#)
#'''

#with duckdb.connect('data/nyc_parking_violations.db') as con:
#    con.sql(sql_query_import_1)
#    con.sql(sql_query_import_2)